<div class="sweets-shop">

    {{form}}
    <div class="order">
        {% if icecream_orders is iterable %}
            <ul class="orders-list">
            {% for i in icecream_orders %}
                <li>1 Icecream with {{ i.flavor }} flavor</li>
            {% endfor %}
            </ul>
            <a href="#" class="icecream-order-btn" data-sweet="icecream">Make Order</a>
        {% endif %}

        {% if waffles_orders is iterable %}
            <tr class="orders-list">
                <th>Waffle</th>
                <th>Whippedcream</th>
                <th>Sprinkles</th>
                <th>Fudge</th>
                <th>syrup</th>
            </tr>
            <tr class="orders-list">
            {% for w in waffles_orders %}
                <td>1 Waffle with</td>
                <td>{{w.whippedcream}}</td>
                <td>{{w.sprinkles}}</td>
                <td>{{w.fudge}}</td>
                <td>{{w.syrup}}</td>
            {% endfor %}
            </tr>
            <a href="#" class="waffles-order-btn" data-sweet="waffles">Make Order</a>
        {% endif %}
    </div>

</div>